[Unit]
Description=Development pod

[Pod]
Network=pasta:\
    -t,{{ ports.postrges }},\
    -t,{{ ports.pgadmin }},\
    -t,{{ ports.dashy }},\
    -t,{{ ports.syncthing_gui }},\
    -t,{{ ports.syncthing_sync_traffic }},\
    -u,{{ ports.syncthing_sync_traffic }},\
    -u,{{ ports.syncthing_local_discovery }}

[Install]
WantedBy=default.target
